
body{
  overflow: hidden;
}

.bg-img-1{
  background: url("./assets/background/bg-1.jpg");
  background-position: center center;
  background-size: cover;
}

.animate-landing-page{
  animation: landingPage 5s linear infinite;
}

@keyframes landingPage {
  0%{
    opacity: .1;
  }
  100%{
    opacity: .5;
  }
}

.text-shadow{
  text-shadow: .5rem .6rem #eee;
}

.translate-left{
  transform: translateX(-1rem);
}

.translate-right{
  transform: translateX(1rem);
}